{% extends "base.html" %}

{% load wagtailimages_tags %}

{% block title %}
          Список новостей
            {% endblock %}

{% block content %}

{% for title in posts %}
<a href="{{ title.url }}" class="mt-4">{{ title.title}}</a>
    <p></p>
{% endfor %}

<h3>{{ page.custom_title }}</h3>
    <div class="container">
        {% for post in posts %}
            <div class="row mt-5 mb-5">
                <div class="col-sm-3">
                    {% image post.blog_image fill-250x250 as blog_img %}
                    <a href="{{ post.url }}">
                        <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">
                    </a>
                </div>
                <div class="col-sm-9">
                    <a href="{{ post.url }}">
                        <h2>{{ post.custom_title }}</h2>
                        {# @todo add a summary field to BlogDetailPage; make it a RichTextField with only Bold and Italic enabled. #}
                        <a href="{{ post.url }}" class="btn btn-primary mt-4">Подробности</a>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% for author in authors %}
<hr>
{% image author.avatar fill-150x150 as img %}
<img src="{{ img.url}}" alt="{{ author.name }}">
<p>{{ author.name }} <a href="{{ author.website }}" target="_blank">Вебсайт</a></p>

{% endfor %}


{% endblock content %}