{# mysite/flex/flex_page.html #}

{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}


<meta charset="UTF-8">
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/litera.css' %}">
{% endblock %}


{% block title %}
{{ page.title }}
{% endblock %}


{% block content %}
<h1>{{ page.subtitle }}</h1>

{# Меню mysite/templates/menu.html #}

{% include 'menu.html' %}



<div class="jumbotron"  style="background-color: white; background-size: cover;">
    <h3 class="display-3">{{ page.title }}</h3>
    <h1 class="display-3">{{ page.subtitle }}!</h1>

    <p class="lead"></p>
    <hr class="my-4">
    <div class="alert alert-success" role="alert">

        <hr class="my-4">
    </div>
</div>


{% for block in page.content %}
    {% include_block block %}
{% endfor %}



{% endblock %}